// Usecase Section Styles

section#usecase {
  background-color: $light;

  h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: $dark;
  }

  p {
    line-height: 1.75;
  }

  .row {
    margin-top: 3rem;
  }
}
