//
// Colors
//

// Override Bootstrap color variables

$yellow: #00B08B;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
